@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.button{
    background-color: rgb(251, 159, 12);
    color: black;
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border:2px solid whitesmoke;
    border-radius: 9px;
    cursor: pointer;
    font-size: x-large;
    box-shadow: 1px 1px 1px black;
}
.row{
    margin: 8px;
}
.row input{
    width: 291px;
    font-size: 25px;
    margin: 0px;
    padding: 10px 0px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    background-color: rgb(251, 159, 12);
    color: black;
   
}